@font-face {
  font-family: "CustomFont";
  src: url("http://localhost:8087/api.ttf?font=令东齐伋复刻体.ttf&text=令东齐伋复刻体问藏书房") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.font-test {
  color: red;
  font-family: "CustomFont";
}


@font-face {
  font-family: "CustomOTFFont";
  src: url("/GoodHood-2.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
.font-otf {
  color: red;
  font-family: "CustomOTFFont";
}

body {
  font-size: 56px;
}
